<div class="container mt-4">
  <h3>検索結果</h3>
<hr>
    <%= render "public/searches/user", users: @users %>
    <%= render "public/searches/review", reviews: @reviews %>
    <%= render "public/searches/hospital", hospitals: @hospitals %>
  <% if !(@users&.any? || @reviews&.any? || @hospitals&.any?) %>
    <p>結果が見つかりませんでした。</p>
  <% end %>
</div>
