<div class="container mt-4">
  <%= render "layouts/tag_form" %>
  <h3 class="text-main-color">検索結果</h3>
  <hr>
    <%= render "admin/searches/user", users: @users %>
    <%= render "admin/searches/review", reviews: @reviews %>
    <%= render "admin/searches/hospital", hospitals: @hospitals %>
  <% if !(@users&.any? || @reviews&.any? || @hospitals&.any?) %>
    <p>結果が見つかりませんでした。</p>
  <% end %>
</div>