<%= javascript_pack_tag 'home' %>
<div class="auto-background">
  <div class="d-flex flex-column align-items-center justify-content-center text-center vh-100">
    <h1 class="fw-bold mb-3 site-title">Petty</h1>
    <h4 class="fw-bold mb-4 site-sub-title">動物病院のレビューサイト</h4>

    <div class="d-grid gap-3 ">
      <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btnx-main", method: :post %>
      <%= link_to "ログイン", user_session_path, class: "btn btnx-login" %>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btnx-signin" %>
    </div>
  </div>
</div>

