<h2 class="text-center my-4">Petty</h2>

<div class="container">
<div class="row">
  <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
    <div class="d-flex flex-column gap-3 align-items-center">
      <%= link_to "ログイン", user_session_path, class: "btn btn-primary btn-lg w-50 mt-3" %>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success btn-lg w-50 mt-3" %>
    </div>
  </div>
</div>
</div>