<p id="notice"><%= notice %></p>

<h1>タグ検索</h1>
<%= form_tag public_reviews_path, method: :get, class: 'boards__searchForm' do %>
      <%= select_tag :tag_id,
                     options_from_collection_for_select(Tag.all, :id, :tag, params[:tag_id]),
                     {
                       prompt: 'タグで絞り込み検索',
                       onchange: 'this.form.submit();'
                     }
      %>
    <% end %>
