header.bg-header {
  background-color: #a58b68;
  border-bottom: 1px solid #ddd;
  height: auto;
  padding: 0 20px;
}

header.bg-header .btnx-pink{
  color: #fff; 
  background: #d869a1; 
  border: 2px solid #d869a1; 
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

header.bg-header .btnx-green{
  color: #fff;
  background: #699a4c;
  border: 2px solid #699a4c;
  display: flex;
  align-items: center;
  justify-content: center;
}

header.bg-header .btnx-green, 
header.bg-header .btnx-pink {
  height: 60px;
  width: 125px;
  line-height: 40px;
  padding: 0 20px;
  text-align: center;
}

header.bg-header .logo-img {
  height: 50px;
  width: auto;
}

header.bg-header .welcome-text {
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
  display: inline-bloch;
}

header.bg-header .navbar-collapse {
  display: none;
}

// !importantで強制的に指示
header.bg-header .navbar-collapse.collapse.show {
  display: flex !important;
  flex-direction: column;
}

@media (min-width: 992px) {
  header.bg-header .navbar-collapse {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end;
    align-items: center;
  }
}


header.bg-header form.search-form,
header.bg-header .search-box,
header.bg-header input[type="text"].form-control {
  width: 100%;
}

@media (min-width: 992px) {
  header.bg-header form.search-form,
  header.bg-header .search-box,
  input[type="text"].form-control {
    max-width: 800px;
    margin: 0 auto;
  }
}

// 画面崩れ対策
header.bg-header .navbar-toggler {
  z-index: 10;
  border: none;
}

@media (max-width: 991px) {
  header.bg-header .welcome-text {
    margin-top: 0.25rem;
  }

  header.bg-header .btnx-green, 
  header.bg-header .btnx-pink {
    width: 100%;
    margin-bottom: 5px;
  }
}

