.bg-header {
  background-color: #a58b68;
  border-bottom: 1px solid #ddd;
  height: auto;
  padding: 0 20px;
}

.btnx-pink{
  color: #fff; 
  background: #d869a1; 
  border: 2px solid #d869a1; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btnx-green{
  color: #fff;
  background: #699a4c;
  border: 2px solid #699a4c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnx-green, .btnx-pink {
  height: 60px;
  width: 125px;
  line-height: 40px;
  padding: 0 20px;
  text-align: center;
}

.logo-img {
  height: 50px;
  width: auto;
}

.welcome-text {
  font-size: 1rem;
  font-weight: 500;
}

.navbar-collapse {
  display: none;
}

.navbar-collapse.collapse.show {
  display: flex !important;
  flex-direction: column;
}

@media (min-width: 992px) {
  .navbar-collapse {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end;
    align-items: center;
  }
}

// !importantで強制的に指示
form.search-form,
.search-box,
input[type="text"].form-control {
  width: 100%;
}

@media (min-width: 992px) {
  form.search-form,
  .search-box,
  input[type="text"].form-control {
    max-width: 800px;
    margin: 0 auto;
  }
}

// 画面崩れ対策
.navbar-toggler {
  z-index: 10;
  border: none;
}

@media (max-width: 991px) {
  .welcome-text {
    margin-top: 0.25rem;
  }

  .btnx-green, .btnx-pink {
    width: 100%;
    margin-bottom: 5px;
  }
}