.image-style {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.hospital-form {
  max-width: 700px;
  width: 90%;
  background: #f8f8f8;
}

.image-style {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.sub-images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.sub-image-item {
  position: relative;
}
