.search-form {
  display: 100%;
  max-width: 900px;
}

.search-form .form-control {
  flex-grow: 1;
  min-width: 200px;
}

.search-form .form-select,
.search-form button {
  height: 45px;
}

.form-control,
.form-select {
  height: 45px;
  background-color: #f6f5f2;
  border: none;
  border-radius: 50px;
  margin-right: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-pink {
  background-color: #e783b2;
  color: #f8f6ee;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;

  i {
    margin-right: 5px;
  }

  &:hover {
    background-color: #e783b2;
  }
}

.style-show {
  max-width: 700px;
  width: 90%;
  background: #f8f6ee;
}


@media (max-width: 768px) {
  .search-form {
    flex-direction: column;
    align-items: stretch;
  }
  
  .search-form .form-control,
  .search-form .form-select,
  .search-form button {
    width: 100%;
  }
}
