@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// topに戻るボタン
// position: fixed; は同じ位置に表示する
#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#back img {
  width: 50px;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #f8f8f8;
  font-family: "Noto Sans JP", sans-serif;
  color: #3c3a36;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.site-footer {
  background-color: #d0eae1;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  .footer_logo {
    height: 60px;
    width: auto;
    object-fit: contain;
  }
}

.btn-link-color {
  background-color: #959491;
}
