.tag-style {
  margin-top: -5px;
  margin-right: -5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 15px;
  text-align: center;
  padding: 0;
}

.tag-searches {
  background-color: #f8f8f8;
}

.table-striped {
  background-color: #f8f8f8;
}
